@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --clr-dark: #120547;
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-dark);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btn-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 0.85rem;
    position: relative;
}

.btn-menu>i.bi-dice-5-fill,
.btn-menu>i.bi-dice-5 {
    transform: rotateZ(90deg);
}

.btn-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    width: 100%;
    border-radius: 1rem 0 0 1rem;
}

.btn-menu.active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.btn-menu.active::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.btn-cart {
    margin-top: 2rem;
}

.number{
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.btn-cart.active .number{
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.footer-text {
    color: var(--clr-main-light);
    font-size: 0.85rem;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.principal-title {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.prods-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.prod-sample {
    max-width: 100%;
    border-radius: 1rem;
}

.prod-info {
    background-color: var(--clr-dark);
    color: var(--clr-white);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.prod-name {
    font-size: 1rem;
}

.prod-price {
    text-align: right;
}

.add-to-cart {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color 0.2s, color 0.2s;
}

.add-to-cart:hover {
    color: var(--clr-white);
    background-color: var(--clr-dark);
}

/*cart*/
.cart-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.empty-cart,
.purchased{
    color: var(--clr-main);
}
.cart-prods{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}
.cart-prod{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1.1rem;
}
.cart-prod-sample{
    width: 4rem;
    border-radius: 1rem;
}
.cart-prod small{
    font-size: .75rem;
}
.cart-prod-delete{
    border: 0;
    color: var(--clr-red);
    background-color: transparent;
    cursor: pointer;
}

.cart-actions{
    display: flex;
    justify-content: space-between;
}
.clear-cart{
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}
.right{
    display: flex;
}
.cart-total{
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-radius: 1rem 0 0 1rem;
    gap: 1rem;
}
.purchase{
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-gray);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0 1rem 1rem 0;
}
.disabled{
    display: none;
}